nodered/data/.flows.json.backup
[
    {
        "id": "795b11739946d75d",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed2b9f62b8d123b0",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "703d38e15df49843",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "sensores",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "478839626001f564",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "719d69dd2f874f6c",
        "type": "mqtt in",
        "z": "795b11739946d75d",
        "name": "",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed2b9f62b8d123b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "956823a02386b8b0"
            ]
        ]
    },
    {
        "id": "05e062dfdc49cffe",
        "type": "mongodb4",
        "z": "795b11739946d75d",
        "clientNode": "703d38e15df49843",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 1450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "509ed8836a8adc12",
        "type": "postgresql",
        "z": "795b11739946d75d",
        "name": "",
        "query": "",
        "postgreSQLConfig": "478839626001f564",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5ed11b66429306c5",
        "type": "mqtt in",
        "z": "795b11739946d75d",
        "name": "",
        "topic": "devices/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ed2b9f62b8d123b0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 660,
        "wires": [
            [
                "33ac01a637950d8a"
            ]
        ]
    },
    {
        "id": "8f0ac6c6143da746",
        "type": "function",
        "z": "795b11739946d75d",
        "name": "ProcessDataDevice",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.created_at = new Date();\nmessage.operation = \"insertOne\";\nmessage.collection = \"devices\";\nmsg = {};\nmsg = message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 660,
        "wires": [
            [
                "05e062dfdc49cffe"
            ]
        ]
    },
    {
        "id": "33ac01a637950d8a",
        "type": "uuid",
        "z": "795b11739946d75d",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 990,
        "y": 660,
        "wires": [
            [
                "8f0ac6c6143da746"
            ]
        ]
    },
    {
        "id": "07b86a6d622a5e5f",
        "type": "function",
        "z": "795b11739946d75d",
        "name": "ProcessDataReading",
        "func": "var message = {}\nmessage.payload = msg.payload;\nmessage.payload.topic = msg.topic;\nmessage.payload.createdAt = new Date();\n\nmessage.operation = \"insertOne\";\nmessage.collection = \"reading_data\";\n\nmsg = {};\nmsg = message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "d16a5db408250813",
                "05e062dfdc49cffe"
            ]
        ]
    },
    {
        "id": "956823a02386b8b0",
        "type": "uuid",
        "z": "795b11739946d75d",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "07b86a6d622a5e5f"
            ]
        ]
    },
    {
        "id": "d16a5db408250813",
        "type": "debug",
        "z": "795b11739946d75d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 420,
        "wires": []
    }
]